.nav-menu-container .elemento-nav-toggle{
    display:none;
}
div.nav-menu-container{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.elemento-nav-menu{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-menu.elemento-navigation {
    margin-right: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
}

ul.nav-menu.elemento-navigation, .nav-menu.elemento-navigation li, .nav-menu.elemento-navigation ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

ul.elemento-navigation{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.elemento-navigation li.menu-item{
    position:relative;
}

ul.elemento-navigation a, ul.elemento-navigation a.elemento-sub-menu-item {
    line-height: 1;
    text-decoration: none;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

a.elemento-menu-item ,
.sub-menu a.elemento-sub-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
    padding-bottom:15px;
}

.elemento-nav-menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}

.elemento-nav-menu .menu-item-has-children:hover > .sub-menu, 
.elemento-nav-menu .menu-item-has-children.focus > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.elemento-nav-menu ul.sub-menu{
    width: 200px;
}
.elemento-nav-menu .menu-item-has-children .menu-item-has-children .sub-menu {
    top: 0;
    left: 100%;
}
.elemento-nav-menu .menu-item-has-children .menu-item-has-children .sub-menu {
    top: 0;
    left: 100%;
}

.elemento-nav-menu .parent .sub-arrow i:before{
    content: "\f347";
    font-family: dashicons;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}

.elemento-nav-menu .sub-arrow {
    font-size: 14px;
    line-height: 1;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right:10px;
    margin-left: 5px;
}
.elemento-menu-toggle.sub-arrow svg ,.elemento-nav-toggle svg{
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
}

.menu-item-has-children ul.sub-menu a .sub-arrow i:before  {
   content: "\f345";
}

.elemento-nav-menu .sub-menu {
    background: #fff;
    -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}
/********vertical style start**********/
    .elemento-nav-menu.vertical,ul.nav-menu.vertical{
            width:100%;
    }
    .elemento-nav-menu.vertical li{
        width: 100%;
        margin-right: 0px;
        position:relative;
    }
    .elemento-nav-menu.vertical .sub-menu {
        display: none; /* Hidden by default */
        transition: all 0.2s ease; /* Smooth transition for slideToggle */
    }
    .elemento-nav-menu.vertical .sub-menu.active {
        display: block; /* Ensure active submenus are visible */
    }
    .elemento-nav-toggle.menu-opened {
        /* Style for the open state of the toggle button */
        background: #f0f0f0;
    }
    .elemento-menu-toggle.open .icon {
        /* Rotate or change icon for open state */
        transform: rotate(180deg);
    }

    .elemento-nav-menu.vertical ul.sub-menu{
        width:100%;
    }
    .elemento-nav-menu.vertical .menu-item-has-children .sub-menu{
        position:relative;
        top: inherit;
        left: inherit;
        z-index: 9999;
        visibility:visible;
        opacity: 1;
    }
    .elemento-nav-menu.vertical .menu-item-has-children ul.sub-menu a .sub-arrow i:before {
        content: "\f347";
    }
/********vertical style end**********/

/*********alignment menu start*********/
.thehf-nav-menu__align-left .elemento-nav-menu.horizontal{
    justify-content: flex-start;
}
.thehf-nav-menu__align-center .elemento-nav-menu.horizontal{
    justify-content: center;
}
.thehf-nav-menu__align-right .elemento-nav-menu.horizontal{
    justify-content: end;
}
.thehf-nav-menu__align-justify .elemento-navigation.horizontal{
    justify-content: space-between;
    width: 100%;
}
.thehf-nav-menu__align-left .elemento-nav-menu.vertical ul.elemento-navigation a{
    justify-content: flex-start;
}
.thehf-nav-menu__align-center .elemento-nav-menu.vertical ul.elemento-navigation a{
    justify-content: center;
}
.thehf-nav-menu__align-right .elemento-nav-menu.vertical ul.elemento-navigation a{
    justify-content: end;
}
.thehf-nav-menu__align-justify .elemento-navigation.vertical ul.elemento-navigation a{
    justify-content: space-between;
    width: 100%;
}

/* navigation animation effect */
.pointer-double-line .elemento-menu-item:before, 
.pointer-double-line .elemento-menu-item:after, 
.pointer-underline .elemento-menu-item:before, 
.pointer-underline .elemento-menu-item:after, 
.pointer-overline .elemento-menu-item:before, 
.pointer-overline .elemento-menu-item:after {
  height: 3px;
  width: 100%;
  left: 0;
  background-color:#111;
  z-index: 2;
}

.elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after, 
.elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
    opacity: 0;
}

.elemento-menu-item:after, 
.elemento-menu-item:before {
    display: block;
    position: absolute;
    transition: .3s;
    transition-timing-function: cubic-bezier(.58,.3,.005,1);
    
}
.pointer-double-line .elemento-menu-item:after,
.pointer-underline .elemento-menu-item:after {
    content: "";
    bottom: 0;
}
.pointer-double-line .elemento-menu-item:before, 
.pointer-overline .elemento-menu-item:before {
    content: "";
    top: 0;
}
.pointer-double-line.animation-slide .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before, 
.pointer-overline.animation-slide .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  width: 10px;
  left: -20px;
}

.pointer-double-line.animation-slide .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after, 
.pointer-underline.animation-slide .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after {
    width: 10px;
    inset-inline-start: 100%;
}

.pointer-framed .elemento-menu-item:after, 
.pointer-framed .elemento-menu-item:before {
    background: transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 3px solid #3f444b;
}
.pointer-framed .elemento-menu-item:before{
    content: "";
}
.pointer-background .elemento-menu-item:after, 
.pointer-background .elemento-menu-item:before {
    content: "";
    transition: .3s;
}
.pointer-background .elemento-menu-item:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3f444b;
    z-index: -1;
}
.elemento-menu-item-active:after, 
.elemento-menu-item-active:before, 
.elemento-menu-item.highlighted:after, 
.elemento-menu-item.highlighted:before, 
.elemento-menu-item:focus:after, 
.elemento-menu-item:focus:before, 
.elemento-menu-item:hover:after, 
.elemento-menu-item:hover:before {
    transform: scale(1);
}
.pointer-text.animation-shrink .elemento-menu-item:focus,
.pointer-text.animation-shrink .elemento-menu-item:hover
{
    transform: scale(.8);
}

.pointer-underline.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after, 
.pointer-underline.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before,
.pointer-overline.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before,
.pointer-double-line.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before,
.pointer-double-line.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after{
    height: 0;
    width: 0;
    left: 50%;
}

.pointer-underline.animation-drop-in .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after,
.pointer-double-line.animation-drop-in .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after{
    bottom: -10px;
}
.pointer-underline.animation-drop-out .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after,
.pointer-double-line.animation-drop-out .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):after{
    bottom: 10px;
}

.pointer-overline.animation-drop-in .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before,
.pointer-double-line.animation-drop-in .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before{
    top:-10px;
}
.pointer-overline.animation-drop-out .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before,
.pointer-double-line.animation-drop-out .elemento-menu-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before{
    top:10px;
}
.pointer-framed.animation-grow .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
    transform: scale(.75);
}
.pointer-framed.animation-shrink .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
    transform: scale(1.25);
}

.pointer-framed.animation-draw .elemento-menu-item:before{
    border-width: 0 0 3px 3px;
}

.pointer-framed.animation-draw .elemento-menu-item:after {
    content: "";
}
.pointer-framed.animation-draw .elemento-menu-item:after {
    border-width: 3px 3px 0 0;
}
.pointer-framed.animation-draw .elemento-menu-item:before {
    transition: width .1s .2s, height .1s .3s, opacity .12s .22s;
}

.pointer-framed.animation-draw .elemento-menu-item-active:before, 
.pointer-framed.animation-draw .elemento-menu-item.highlighted:before, 
.pointer-framed.animation-draw .elemento-menu-item:focus:before, 
.pointer-framed.animation-draw .elemento-menu-item:hover:before {
    transition: opacity .02s, height .1s, width .1s .1s;
}
.pointer-framed.animation-draw .elemento-menu-item:hover:before,
.pointer-framed.animation-draw .elemento-menu-item:hover:after{
    width: 100%;
    height: 100%;
}
.pointer-framed.animation-draw .elemento-menu-item-active:after, 
.pointer-framed.animation-draw .elemento-menu-item.highlighted:after, 
.pointer-framed.animation-draw .elemento-menu-item:focus:after, 
.pointer-framed.animation-draw .elemento-menu-item:hover:after {
    transition: opacity .02s .2s, height .1s .2s, width .1s .3s;
}

.pointer-framed.animation-corners .elemento-menu-item:after, 
.pointer-framed.animation-corners .elemento-menu-item:before {
    width: 3px;
    height: 3px;
}
.pointer-framed.animation-corners .elemento-menu-item:before {
    border-width: 3px 0 0 3px;
}
.pointer-framed.animation-corners .elemento-menu-item:after {
    border-width: 0 3px 3px 0;
}
.pointer-framed.animation-corners .elemento-menu-item:after {
    content: "";
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    border-width: 0 3px 3px 0;
}
.pointer-framed.animation-corners .elemento-menu-item-active:after, 
.pointer-framed.animation-corners .elemento-menu-item-active:before,
.pointer-framed.animation-corners .elemento-menu-item.highlighted:after,
.pointer-framed.animation-corners .elemento-menu-item.highlighted:before, 
.pointer-framed.animation-corners .elemento-menu-item:focus:after,
.pointer-framed.animation-corners .elemento-menu-item:focus:before, 
.pointer-framed.animation-corners .elemento-menu-item:hover:after, 
.pointer-framed.animation-corners .elemento-menu-item:hover:before {
    width: 100%;
    height: 100%;
    transition: opacity 2ms, width .4s, height .4s;
}
.pointer-background.animation-grow .elemento-menu-item:before {
    transform: scale(.5);
}

.pointer-background .elemento-menu-item:after,
.pointer-background .elemento-menu-item:before {
    content: "";
    transition: .3s;
   
}
.pointer-background.animation-grow .elemento-menu-item-active:before,
.pointer-background.animation-grow .elemento-menu-item.highlighted:before,
.pointer-background.animation-grow .elemento-menu-item:focus:before,
.pointer-background.animation-grow .elemento-menu-item:hover:before{
    transform: scale(1);
    opacity: 1;
}

.pointer-background.animation-shrink .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
    transform: scale(1.2);
    transition: .3s;
}
.pointer-background.animation-shrink .elemento-menu-item-active:before, 
.pointer-background.animation-shrink .elemento-menu-item.highlighted:before, 
.pointer-background.animation-shrink .elemento-menu-item:focus:before,
.pointer-background.animation-shrink .elemento-menu-item:hover:before {
    transition: opacity .15s, transform .4s;
}

.pointer-background.animation-sweep-left .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  left: 100%;
}

.pointer-background.animation-sweep-right .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  right: 100%;
}
.pointer-background.animation-sweep-up .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  top: 100%;
}
.pointer-background.animation-sweep-down .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  bottom: 100%;
}
.pointer-background.animation-shutter-out-vertical .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  bottom: 50%;
  top: 50%;
}
.pointer-background.animation-shutter-out-horizontal .elemento-menu-item:not(:hover):not(:focus):not(.elemento-menu-item-active):not(.highlighted):before {
  right: 50%;
  left: 50%;
}
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:after, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3f444b;
  z-index: -1;
}
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:before {
  top: 0;
  bottom: 100%;
}
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:after {
  top: 100%;
  bottom: 0;
}
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:hover:before, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:focus:before, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item.highlighted:before, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item-active:before {
  bottom: 50%;
}
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:hover:after, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item:focus:after, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item.highlighted:after, 
.pointer-background.animation-shutter-in-vertical .elemento-menu-item-active:after {
  top: 50%;
}
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:before {
  right: 0;
  left: 100%;
}
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:after {
  right: 100%;
  left: 0;
}
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:hover:before, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:focus:before, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item.highlighted:before, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item-active:before {
  left: 50%;
}
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:hover:after, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item:focus:after, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item.highlighted:after, 
.pointer-background.animation-shutter-in-horizontal .elemento-menu-item-active:after {
  right: 50%;
}

.pointer-text.animation-skew .elemento-menu-item:hover,
.pointer-text.animation-skew .elemento-menu-item:focus {
  transform: skew(-8deg);
}
.pointer-text.animation-grow .elemento-menu-item:hover,
.pointer-text.animation-grow .elemento-menu-item:focus {
  transform: scale(1.2);
}
.pointer-text.animation-shrink .elementor-item:hover,
.pointer-text.animation-shrink .elementor-item:focus {
  transform: scale(0.8);
}
.pointer-text.animation-float .elemento-menu-item:hover,
.pointer-text.animation-float .elemento-menu-item:focus {
  transform: translateY(-8px);
}
.pointer-text.animation-sink .elemento-menu-item:hover,
.pointer-text.animation-sink .elemento-menu-item:focus {
  transform: translateY(8px);
}
.pointer-text.animation-rotate .elemento-menu-item:hover,
.pointer-text.animation-rotate .elemento-menu-item:focus {
  transform: rotate(6deg);
}
.pointer-text.animation-none,
.pointer-text.animation-none .elemento-menu-item {
  transition-duration: 0s;
}
.pointer-text.animation-none:before,
.pointer-text.animation-none:after, 
.pointer-text.animation-none:hover, 
.pointer-text.animation-none:focus,
.pointer-text.animation-none .elemento-menu-item:before,
.pointer-text.animation-none .elemento-menu-item:after,
.pointer-text.animation-none .elemento-menu-item:hover,
.pointer-text.animation-none .elemento-menu-item:focus {
  transition-duration: 0s;
}
.pointer-background .elemento-navigation a.elemento-menu-item:hover{
   color:#fff; 
}

/* divider */
.elemento-navigation.horizontal > li:not(:last-child)::after {
   content: var(--e-nav-menu-divider-content, none);
  border-left-width: var(--e-nav-menu-divider-width, 2px);
  border-left-style: var(--e-nav-menu-divider-style, solid);
  height: var(--e-nav-menu-divider-height, 35%);
  border-color: var(--e-nav-menu-divider-color, #000);
  align-self: center;
}

.elemento-navigation.horizontal >li {
    display: flex;
}
.elemento-navigation.horizontal>li:not(:last-child)>a
{
    margin-inline-end: var(--e-nav-menu-horizontal-menu-item-margin);
}
.elemento-menu-toggle.sub-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--nav-menu-icon-size, 22px);
  padding: 0.25em;
  cursor: pointer;
  border: 0 solid;
  border-radius: 3px;
  background-color:transparent;
  color: #33373d;
}
.elemento-navigation.elemento-nav-menu--dropdowhorizontal,
.elemento-navigation.elemento-nav-menu--dropdowvertical,
.elemento-nav-menu .close-icon{
    display:none;
}
.toggle-align-center .elemento-nav-toggle{
margin:auto;
}
.toggle-align-left .elemento-nav-toggle{
margin-right:auto;
}
.toggle-align-right .elemento-nav-toggle{
margin-left:auto;
}
/*dropdown submenu element seprator  */
.elemento-main-nav .sub-menu.elemento-nav-menu--dropdow li::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #e5e7eb;
}

.sub-menu.elemento-nav-menu--dropdow li:last-child::after {
  content: none;
}
/* normal horizontal in tablet view reponsive*/
@media screen and (max-width: 1024px){
    .elemento-reponsive-in-tablet .elemento-navigation.elemento-nav-menu--dropdowhorizontal,
    .elemento-reponsive-in-tablet .elemento-navigation.elemento-nav-menu--dropdowvertical{
    display:block;
    width: 100%;
    }
    .elemento-reponsive-in-tablet .elemento-navigation.elemento-main-nav{
    display:none;
    }
    .elemento-reponsive-in-tablet .elemento-nav-toggle {
        display: block;
        background: #fff;
        color:#111;
        width: max-content;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal.elemento-menu-open,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical.elemento-menu-open{
        display:flex;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical{
        display:none;
    }
    
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal,
    ul.nav-menu.horizontal,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical,
    ul.nav-menu.vertical{
        width:100%;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal li,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical li{
    width: 100%;
    margin-right: 0px;
    position:relative;
    display: block;
    }

    .elemento-has-submenu-container a.elemento-menu-item,
    .elemento-has-submenu-container a.elemento-sub-menu-item{
    display: inline-flex!important;
    } 
    
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical{
        position:absolute;
        top: 100%;
        z-index:99;
        background:#fff;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu .sub-menu {
        display: none; /* Hidden by default */
        transition: all 0.2s ease; /* Smooth transition for slideToggle */
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu .sub-menu.active {
        display: block; /* Ensure active submenus are visible */
    }
    .elemento-reponsive-in-tablet .elemento-nav-toggle.menu-opened {
        /* Style for the open state of the toggle button */
        background: #f0f0f0;
    }
    .elemento-reponsive-in-tablet .elemento-menu-toggle.open .icon {
        /* Rotate or change icon for open state */
        transform: rotate(180deg);
    }

    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal ul.sub-menu,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical ul.sub-menu{
        width:100%;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal .menu-item-has-children .sub-menu,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical .menu-item-has-children .sub-menu{
        position:relative;
        top: inherit;
        left: inherit;
        z-index: 9999;
        visibility:visible;
        opacity: 1;
    }
    .elemento-reponsive-in-tablet .elemento-nav-menu.horizontal .menu-item-has-children ul.sub-menu a .sub-arrow i:before,
    .elemento-reponsive-in-tablet .elemento-nav-menu.vertical .menu-item-has-children ul.sub-menu a .sub-arrow i:before {
        content: "\f347";
    }

    .elemento-nav-menu .sub-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
    }
     /* remove animation/pointer */
   .elemento-nav-menu[class*="pointer-"]:not(.pointer-background) .elemento-menu-item::before,
    .elemento-nav-menu[class*="pointer-"]:not(.pointer-background) .elemento-menu-item::after {
        content: none;
    }

    /* fly layut */
    .fly_right_menu.elemento-reponsive-in-tablet .elemento-nav-menu {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%; /* Hidden by default */
    height: 100vh;
    max-width: 100%;
    background: #fff; /* optional: background color */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* optional: shadow */
    transition: right 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
}
.fly_right_menu.elemento-reponsive-in-tablet .elemento-nav-menu.elemento-menu-open {
    right: 0; /* Slide in when .menu-open is added */
}
.fly_left_menu.elemento-reponsive-in-tablet .elemento-nav-menu {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%; /* Hidden by default */
    height: 100vh;
    max-width: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
}

.fly_left_menu.elemento-reponsive-in-tablet .elemento-nav-menu.elemento-menu-open {
    left: 0; /* Slide in */
}
.fly_left_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon,
.fly_right_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon,
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon{
position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 23px;
    display: block;
    cursor: pointer;
    z-index: 3;
}
.fly_left_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon svg,
.fly_right_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon svg,
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu .close-icon svg{
    font-size:18px;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
}
.admin-bar .slide_menu ul.elemento-nav-menu--dropdowhorizontal{
    margin-top:0;
}
.admin-bar ul.elemento-nav-menu--dropdowhorizontal{
    margin-top: 32px;
}
.fly_left_menu.elemento-reponsive-in-tablet .nav-menu.elemento-navigation.elemento-nav-menu--dropdowhorizontal,
.fly_right_menu.elemento-reponsive-in-tablet .nav-menu.elemento-navigation.elemento-nav-menu--dropdowhorizontal{
    padding:20px;
}

/* //full flymenu */
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.elemento-menu-open{
        display:block;
        position: fixed;
        top: 0;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        height: 100vh;
        border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
        overflow: auto;
        z-index:999;
        background: #fff;
        transition: initial;
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;
    }
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.elemento-menu-open .elemento-nav-menu--dropdowhorizontal{
    margin-top:100px;
}

.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.horizontal.elemento-menu-open{
  top: 0;  
}

.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.horizontal.elemento-menu-open{
    text-align: center;
}
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.horizontal.elemento-menu-open .elemento-menu-item,
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.horizontal.elemento-menu-open .elemento-sub-menu-item{
    justify-content: center;  
}
.fly_full_menu.elemento-reponsive-in-tablet .elemento-nav-menu.elemento-menu-open .close-icon{
    top: 50px;
    right: 50px;
}


}

/* normal horizontal in tablet view reponsive*/
@media screen and (max-width: 768px){
    .elemento-reponsive-in-mobile .elemento-navigation.elemento-nav-menu--dropdowhorizontal,
    .elemento-reponsive-in-mobile .elemento-navigation.elemento-nav-menu--dropdowvertical{
    display:block;
    width:100%;
    }
    .elemento-reponsive-in-mobile .elemento-navigation.elemento-main-nav{
    display:none;
    }
    .elemento-reponsive-in-mobile .elemento-nav-toggle {
        display: block;
        background: #fff;
        color:#111;
        width: max-content;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal.elemento-menu-open,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical.elemento-menu-open{
        display:flex;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical{
        display:none;
    }
    
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal,
    ul.nav-menu.horizontal,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical,
    ul.nav-menu.vertical{
        width:100%;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal li,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical li{
    width: 100%;
    margin-right: 0px;
    display: block;
    }
    
    .elemento-has-submenu-container a.elemento-menu-item,
    .elemento-has-submenu-container a.elemento-sub-menu-item{
    display: inline-flex!important;

    } 
    
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical{
        position:absolute;
        top: 100%;
        z-index:99;
        background:#fff;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu .sub-menu {
        display: none; /* Hidden by default */
        transition: all 0.2s ease; /* Smooth transition for slideToggle */
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu .sub-menu.active {
        display: block; /* Ensure active submenus are visible */
    }
    .elemento-reponsive-in-mobile .elemento-nav-toggle.menu-opened {
        /* Style for the open state of the toggle button */
        background: #f0f0f0;
    }
    .elemento-reponsive-in-mobile .elemento-menu-toggle.open .icon {
        /* Rotate or change icon for open state */
        transform: rotate(180deg);
    }

    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal ul.sub-menu,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical ul.sub-menu{
        width:100%;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal .menu-item-has-children .sub-menu,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical .menu-item-has-children .sub-menu{
        position:relative;
        top: inherit;
        left: inherit;
        z-index: 9999;
        visibility:visible;
        opacity: 1;
    }
    .elemento-reponsive-in-mobile .elemento-nav-menu.horizontal .menu-item-has-children ul.sub-menu a .sub-arrow i:before,
    .elemento-reponsive-in-mobile .elemento-nav-menu.vertical .menu-item-has-children ul.sub-menu a .sub-arrow i:before {
        content: "\f347";
    }
     .elemento-nav-menu .sub-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
    }
    /* remove animation/pointer */
    .elemento-nav-menu[class*="pointer-"]:not(.pointer-background) .elemento-menu-item::before,
    .elemento-nav-menu[class*="pointer-"]:not(.pointer-background) .elemento-menu-item::after {
        content: none;
    }
     /* fly layut */
    .fly_right_menu.elemento-reponsive-in-mobile .elemento-nav-menu {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%; /* Hidden by default */
    height: 100vh;
    max-width: 100%;
    background: #fff; /* optional: background color */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* optional: shadow */
    transition: right 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
}
.fly_right_menu.elemento-reponsive-in-mobile .elemento-nav-menu.elemento-menu-open {
    right: 0; /* Slide in when .menu-open is added */
}
.fly_left_menu.elemento-reponsive-in-mobile .elemento-nav-menu {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%; /* Hidden by default */
    height: 100vh;
    max-width: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
}

.fly_left_menu.elemento-reponsive-in-mobile .elemento-nav-menu.elemento-menu-open {
    left: 0; /* Slide in */
}
.fly_left_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon,
.fly_right_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon,
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon{
position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 23px;
    display: block;
    cursor: pointer;
    z-index: 3;
}
.fly_left_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon svg,
.fly_right_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon svg,
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu .close-icon svg{
    font-size:18px;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
}
.admin-bar .slide_menu ul.elemento-nav-menu--dropdowhorizontal{
    margin-top:0;
}
.admin-bar ul.elemento-nav-menu--dropdowhorizontal{
    margin-top: 32px;
}
.fly_left_menu.elemento-reponsive-in-mobile .nav-menu.elemento-navigation.elemento-nav-menu--dropdowhorizontal,
.fly_right_menu.elemento-reponsive-in-mobile .nav-menu.elemento-navigation.elemento-nav-menu--dropdowhorizontal{
    padding:20px;
}

/* //full flymenu mobile */
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.elemento-menu-open{
        display:block;
        position: fixed;
        top: 0;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        height: 100vh;
        border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
        overflow: auto;
        z-index:999;
        background: #fff;
        transition: initial;
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;
    }
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.elemento-menu-open .elemento-nav-menu--dropdowhorizontal{
    margin-top:100px;
}

.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.horizontal.elemento-menu-open{
  top: 0;  
}

.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.horizontal.elemento-menu-open{
    text-align: center;
}
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.horizontal.elemento-menu-open .elemento-menu-item,
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.horizontal.elemento-menu-open .elemento-sub-menu-item{
    justify-content: center;  
}
.fly_full_menu.elemento-reponsive-in-mobile .elemento-nav-menu.elemento-menu-open .close-icon{
    top: 50px;
    right: 50px;
}
}